#mynavbar {
    background-color: #ee8d8d;
}

.table .thead-dark th {
    color: #fff;
    background-color: #ee8d8d;
    border-color: #ee8d8d;
}

.jumbotron {
    border-style: solid;
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: #7f96d6;
    border: 5px;
    border-color: #fff;
}

.container {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    position: relative;
}

.container h1 {
    font-family: Kelson;
    text-align: center;
}

.container h5 {
    color: #5a0001;
    font-family: Montserrat;
}

.container p {
    font-family: 'Poppins', sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ee8d8d;
    color: 	#ffffff;
    text-align: center;
    font-family: "Roboto Slab", arial, sans-serif;
    font-size: 16pt;
}

footer p {
    margin: 0;
}

.loading {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loading.gif) center no-repeat #fff;
}

.text-block {
    position: absolute;
    bottom: 2px;
    right: 12px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

#counts {
    margin-bottom: 0.5rem;
    margin-right: 0.2rem;
}

.bookmarkButtonClicked {
    animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText {
    0%   {  color: #ee8d8d;}
    49%  {  color: transparent;}
    50%  {  color: transparent;}
    99%  {  color: #ee8d8d;}
    100% {  color: #ee8d8d;}
}

.container-sign-up {
    width: 100%;
    min-height: 84vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url(../images/EGYPT-C-PATTERN.png);
}

.container-sign-up::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}

.container-form {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    margin-top: 100px;
    margin-bottom: 50px;

    background: -webkit-linear-gradient(top, #e5658b, #cc64b2);
    background: -o-linear-gradient(top, #e5658b, #cc64b2);
    background: -moz-linear-gradient(top, #e5658b, #cc64b2);
    background: linear-gradient(top, #e5658b, #cc64b2);
}

#subscriber-form {
    width: 100%;
}

.container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sign-up-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: -webkit-linear-gradient(bottom, #e5658b, #cc64b2);
    background: -o-linear-gradient(bottom, #e5658b, #cc64b2);
    background: -moz-linear-gradient(bottom, #e5658b, #cc64b2);
    background: linear-gradient(bottom, #e5658b, #cc64b2);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sign-up-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sign-up-btn:hover {
    color: #fff;
}

#sign-up-btn:hover:before {
    opacity: 0;
}

.form-title {
    font-family: Poppins-Medium;
    font-size: 26px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
    display: block;
}

.container-sign-in {
    width: 100%;
    min-height: 84vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}