{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container" style="min-height: 84vh; display: flex; align-content: center; align-items: center;">
        <div class="container">
            <div id="accordion">
                <h3>Profile</h3>
                <div>
                    <img src="{% static 'images/profpic.gif' %}" alt="Nabila Febri Viola"
                         width="150px" height="150px" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px">
                    <h4 style="text-align: center">Nabila Febri Viola</h4>
                    <p style="word-wrap: break-word; text-align: center">I was born on the 3rd of February 1999 in Jakarta.
                        I am currently living in Depok to pursue my dream of becoming a programmer.
                        I spend my time by playing games, reading books, watching movies, writing reviews,
                        and solving jigsaw puzzles.</p>
                </div>

                <h3>Current Activity</h3>
                <div>
                    <ul>
                        <li>Eat</li>
                        <li>Sleep</li>
                        <li>Pray</li>
                        <li>PPW</li>
                    </ul>
                    <p>#apatisLyfe</p>
                    <a class="nav-link" href="https://id.wikihow.com/Berhenti-Menjadi-Apatis">CLICK THIS HELPFUL LINK!</a>
                </div>

                <h3>Organizational/Committee Experiences</h3>
                <div>
                    <h4>2018 - Present</h4>
                    <ul>
                        <li>
                            <h5>VICE PERSON IN CHARGE OF TICKETING DIVISION ASUIFEST 2018</h5>
                            <p>Arek SUroboyo UI FESTival is an annual event of SBMPTN simulation.</p>
                        </li>
                        <li>
                            <h5>VICE PERSON IN CHARGE OF EQUIPMENT DIVISION SIWAK - NG 2018</h5>
                            <p>Studi Islam aWAl Kuliah - Next Generation is an annual event to introduce Islam to freshmen at the beginning of college years.</p>
                        </li>
                    </ul>

                    <h4>2017 - Present</h4>
                    <ul>
                        <li>
                            <h5>STAFF OF MUSLIM DEVELOPMENT CENTER</h5>
                            <p>Muslim Development Center is a departement from Forum Ukhuwah dan Kajian Islam Fasilkom UI (campus Islamic organization) specialized in maintaining students’ spiritual.</p>
                        </li>
                    </ul>

                    <h4>2017</h4>
                    <ul>
                        <li>
                            <h5>STAFF OF TICKETING DIVISION ASUIFEST 2017</h5>
                            <p>Arek SUroboyo UI FESTival is an annual event of SBMPTN simulation.</p>
                        </li>
                        <li>
                            <h5>STAFF OF PUBLIC RELATIONS DIVISION BETIS 2017</h5>
                            <p>Bimbingan bElajar graTIS is an annual 3-months free SBMPTN tutoring held in Fasilkom UI.</p>
                        </li>
                    </ul>
                </div>

                <h3>Achievement</h3>
                <div>
                    <p>Inginkan daqu menjadi mapres aka mahasiswa berprestasi,
                    namun apadaya ternyata daqu menjadi mahasiswa depresi.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
