{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container-sign-up">
        <div class="container-form">
            <img src="{% static 'images/subscribe.png' %}" alt="Subscribe Logo"
                 style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 30px">

            <span class="form-title p-b-34 p-t-27">
                Sign Up to Subscribe to Me
            </span>

            <form id="subscriber-form" method="POST" action = "{% url 'subscriber_registration:index' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="container-form-btn">
                    <button type="submit" class="btn btn-default" id="sign-up-btn"><b>Sign Up</b></button>
                </div>
            </form>
        </div>
    </div>

    <div class="container" style="text-align: center">
        <h1 class="display-3" id="greeting">List of My Beloved Subscribers</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-curved">
                <thead class="thead-dark">
                    <tr>
                        <th>Full Name</th>
                        <th>E-mail</th>
                        <th>Password</th>
                        <th>Unsubscribe</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in subscribers %}
                        <tr>
                            <td>{{ i.full_name }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.password }}</td>
                            <td align="center"><a href="#" class="btn btn-danger" id="unsubscribeButton">Unsubscribe</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
