{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container" style="min-height: 84vh;">
        <div class="jumbotron" style="background: -webkit-linear-gradient(top, #e5658b, #cc64b2);">
            <div class="container" style="text-align: center">
                <div class="data">
                    <img id="google-pic" class="img-circle" width="100px" height="100px" style="margin-bottom: 20px">
                    {% if user.is_authenticated %}
                        <p>{{ user.email }}</p>
                        <h1 class="display-3">Hello, {{ user.username }}!</h1>
	                {% else %}
                        <p id="email"></p>
                        <h1 class="display-3" id="name"></h1>
	                {% endif %}
                </div>
                <div class="container-form-btn">
                    {% if user.is_authenticated %}
                    <a href="{% url 'books:signOut' %}"><button class="btn btn-default" id="sign-up-btn" style="margin-top: 50px"><b>Sign Out</b></button></a>
	                {% else %}
                    <button onclick="signOut()" class="btn btn-default" id="sign-up-btn" style="margin-top: 50px"><b>Sign Out</b></button>
	                {% endif %}
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 85px">
	        {% if user.is_authenticated %}
                <p class="display-4">{{ user.username }}, please select your favorite books.</p>
	        {% else %}
                <p class="display-4" id="name2"></p>
	        {% endif %}
            <div class="d-md-flex bd-highlight">
                <div class="p-2 w-100 bd-highlight">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button id="search-books-title" class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <input name="books-title-input" type="text" class="form-control" placeholder="Search by Title" aria-label="Search Books Title" aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>
                <div class="p-2 flex-shrink-1 bd-highlight"> <button type="button" class="btn btn-outline-danger" id="best-sellers">The New York Times® Best Sellers</button></div>
            </div>
        </div>

        <div class="container" style="margin-top: 10px">
            <div class="row">
                <div class="col-6">
                    <div class="float-left">
                        <h1>BOOKS LIST</h1>
                    </div>
                </div>

                <div class="col-6">
                    <div class="float-right">
                        <div class="container" id="count-bookmark">
                            <img src="https://img.icons8.com/color/50/000000/filled-star.png">
                            <div class="text-block">
                                {% if user.is_authenticated %}
                                    <p id="counts">{{ counter }}</p>
	                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-curved" id="books-table">
                <thead class="thead-dark">
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Authors</th>
                        <th>Publisher</th>
                        <th>Published Date</th>
                        <th>Categories</th>
                        <th>Image</th>
                        <th>Add Bookmark</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}
