<nav id="mynavbar" class="navbar navbar-expand-lg navbar-fixed-top navbar-dark">
  <a class="navbar-brand" href="{% url 'myprofile:index' %}">NABILAFV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'myprofile:index' %}">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'status:index' %}">STATUS</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="{% url 'books:index' %}">BOOKS</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'subscriber_registration:index' %}">SIGN UP</a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="{% url 'sign_in:index' %}">SIGN IN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="change-theme">CHANGE THEME</a>
      </li>
    </ul>
  </div>
</nav>
