#mynavbar {
    background-color: black;
}

.jumbotron {
    border-style: solid;
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: slategray;
    border: 5px;
    border-color: #fff;
}

.container {
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.container h1 {
    font-family: Kelson;
    text-align: center;
}

.container h5 {
    color: darkgoldenrod;
    font-family: Montserrat;
}

.container p {
    font-family: 'Poppins', sans-serif;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: black;
    color: 	#ffffff;
    text-align: center;
    font-family: "Roboto Slab", arial, sans-serif;
    font-size: 16pt;
}

footer p {
    margin: 0;
}

.loading {
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../images/loading.875afac4f48f.gif") center no-repeat #fff;
}

.text-block {
    position: absolute;
    bottom: 2px;
    right: 12px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}

#counts {
    margin-bottom: 1rem;
    margin-right: 1.1rem;
}


.bookmarkButtonClicked {
    animation:blinkingText 0.8s infinite;
}

@keyframes blinkingText {
    0%   {  color: black;}
    49%  {  color: transparent;}
    50%  {  color: transparent;}
    99%  {  color: black;}
    100% {  color: black;}
}

.container-sign-up {
    width: 100%;
    min-height: 84vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background: url("../images/EGYPT-C-PATTERN.724c5a5f835f.png");
}

.container-sign-up::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
}

.container-form {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;
    margin-top: 100px;
    margin-bottom: 50px;

    background: -webkit-linear-gradient(top, black, darkgrey);
    background: -o-linear-gradient(top, black, darkgrey);
    background: -moz-linear-gradient(top, black, darkgrey);
    background: linear-gradient(top, black, darkgrey);
}

#subscriber-form {
    width: 100%;
}

.container-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sign-up-btn {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #555555;
    line-height: 1.2;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;

    background: -webkit-linear-gradient(bottom, darkgrey, lightgrey);
    background: -o-linear-gradient(bottom, darkgrey, lightgrey);
    background: -moz-linear-gradient(bottom, darkgrey, lightgrey);
    background: linear-gradient(bottom, darkgrey, lightgrey);
    position: relative;
    z-index: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sign-up-btn::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #fff;
    top: 0;
    left: 0;
    opacity: 1;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

#sign-up-btn:hover {
    color: #fff;
}

#sign-up-btn:hover:before {
    opacity: 0;
}

.form-title {
    font-family: Poppins-Medium;
    font-size: 26px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
    display: block;
}