{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container-sign-in">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <div class="account-wall">
                        <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <img class="profile-img" src="{% static 'images/google-logo.png' %}" alt="Google Logo"></a>
                        <h1 class="text-center login-title" style="margin-bottom: 20px">Please Sign in with Your Google Account</h1>
                        <div class="g-signin2" data-onsuccess="onSignIn" data-scope="profile email"
                             data-accesstype="offline" data-redirecturi="http://localhost:8000/books/"></div>
                        <!--<form class="form-signin" method="POST" action =  "{% url 'social:begin' 'google-oauth2' %}">-->
                            <!--{% csrf_token %}-->
                            <!--{{ form }}-->
                            <!--<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>-->
                        <!--</form>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
