{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <div class="container" style="min-height: 84vh;">
        <div class="container">
            <div class="jumbotron">
                <div class="container" style="text-align: center">
                    <h1 class="display-3" id="greeting">Hello, gengs!</h1>
                    <p>This page is reserved only for me to trash everything. Hehe...</p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row mb-2" style="margin: 0">

                <div class="col-md-6">
                    <div class="d-flex flex-column bd-highlight mb-3">

                        <div class="p-2 bd-highlight">
                            <h1 class="status-list-header">My Recent Posts</h1>
                        </div>

                        {% for i in allStatus %}
                        <div class="p-2 bd-highlight">
                            <div class="container">
                                <div class="row mb-2">

                                    <div class="col-md-4" style="display: flex; justify-content: center">
                                        <div class="avatar">
                                            <img src="{% static 'images/avatar.jpg' %}" alt="Avatar" width="128" height="72">
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <h5 class="status-date">{{i.created_at}}</h5>
                                        <p style="word-wrap: break-word">{{i.status}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="d-flex flex-column bd-highlight mb-3">

                        <div class="p-2 bd-highlight">
                            <h1 class="status-post">How is your day? :)</h1>
                        </div>

                        <div class="p-2 bd-highlight">
                            <form id="form" method="POST" action="{% url 'status:index' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                            <button type="submit" class="btn btn-default"><b>POST</b></button>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
